body{
    background-color: darkgray;
    color: whitesmoke
}

/* Font Type */
h2{
    
}

.title{
    color: whitesmoke;
    font-weight: 600;
}

hr{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

/* SECTION AREA */
section{
    display: flow-root;
    margin: auto;
    height: 100%;
}

.section-title{
    padding: 2rem 0;
    text-align: center !important;
}

section.services{
    width: fit-content;
}

section.services > div.row > .card{
    flex-shrink: 0;
    padding: 0 !important; 
}

/* Grid Images */
.grid-images, .card{
    width: 20rem;
    border: 2rem;
    border-radius: 10px;
    position: relative;
    text-align: center;
}
.grid-images p{
    position: absolute;
    bottom: 8px;
    left: 16px;
}