<link rel="stylesheet" href="{{ url_for('static', filename='css/card-images/style.css') }}"/>
<section class="services">
    <div class="row no-gutters align-items-start">
      <div class="card">
        <img
          src="{{url_for('static', filename='img/home-cards/craiyon_033543_water_fall_leaving_laptop_screen_br_.png')}}"
          alt="Card image"
        />
        <div class="card-img-overlay">
          <h5>Computer Repair</h5>
          <hr>
            <p>
          This is a wider card with supporting text below as a natural lead-in
            to additional content. This content is a little bit longer.
          </p>
        </div>
      </div>
      <div class="card">
          <img
          src="{{url_for('static', filename='img/home-cards/earth_surrounded_by_router.png')}}"
          alt="Card image"
        />
        <div class="card-img-overlay">
          <h5>Network Setup</h5>
          <hr>
          <p>
            This is a wider card with supporting text below as a natural lead-in
            to additional content. This content is a little bit longer.
          </p>
        </div>
      </div>
    </div>
    <div class="row no-gutters align-items-end">
      <div class="card">
          <img
          src="{{url_for('static', filename='img/home-cards/servers open space.png')}}"
          alt="Card image"
        />
        <div class="card-img-overlay">
          <h5>Website Making</h5>
          <hr>
          <p>
            This is a wider card with supporting text below as a natural lead-in
            to additional content. This content is a little bit longer.
          </p>
        </div>
      </div>
      <div class="card">
          <img
          src="{{url_for('static', filename='img/home-cards/laptop_fire.png')}}"
          alt="Card image"
        />
        <div class="card-img-overlay">
          <h5>Backup Solutions</h5>
          <hr>
          <p>
            This is a wider card with supporting text below as a natural lead-in
            to additional content. This content is a little bit longer.
          </p>
        </div>
      </div>
    </div>
  </section>