{% extends "base.html" %} {% block content %}
<section class="purpose row">
  <div class="col-12 section-title">
    <h2>JP Technology</h2>
    <h3 class="subtitle">Experts that work for you.</h3>
  </div>
  <div class="col-12">
    <p class="text-center">
      Based In Pickerington, Ohio, we offer in-home computer services in Central
      Ohio and the surrounding areas.
    </p>
  </div>
  <div class="col-12">
    <p class="text-center">
      Our expert computer technicians offer a flat rate and free estimates on a
      wide range of computer repair services.
    </p>
  </div>
</section>
<hr />
{% include 'card-images/card-images.html' %}

{% endblock %}
