{% extends "base.html" %} 
<!-- {% block navigation %}
<div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div id="navbarMenuHeroA" class="navbar-menu">
          <div class="navbar-end">
            <a href="{{ url_for('indexController.index') }}" class="navbar-item">
              Home
            </a>
            {% for key, value in menu.items() %}
              <li><a href="{{ value }}">{{ key}}</a></li>
            {% endfor %}
        </div>
        <p>test</p>
      </div>
    </nav>
  </div>
{% endblock %} -->

{% block content %}
<h1 class="title">CSCI-2999 'Complete Phase 1'</h1>
<h2 class="subtitle">Hire Technology Experts.</h2>
<section class="purpose">
  <p>
    Phase one lays the foundation for handling errors, authorization,
    authentication, logs, hosting, and databases. All the logic and processes
    build on those choices. We must think about resources, what our setup can
    handle or can’t, and what are our limitations? The goal is also to get the
    application running, starting with the simplest forms of our website, and
    then adding more functionality at a later date.
  </p>
</section>
<hr>
<section class="checklist">
    <h1 class="title">Checklist...</h1>
    <div class="checklist-left">
        <h3>Progress</h3>
        <dl>
            <li>error handling</li>
            <li>logs</li>
        </dl>
    </div>
    <div class="checklist-right">
        <h3>Completed</h3>
        <dl>
            <li>authorization</li>
            <li>authentication</li>
            <li>hosting</li>
            <li>database</li>
        </dl>
    </div>
</section>
<hr>
<section class="sticky-notes">
    <h2>Phase one sticky notes can be found at 
        <a href="https://miro.com/app/board/uXjVOmnjlHo=/">
            https://miro.com/app/board/uXjVOmnjlHo=/
        </a>
    </h2>
</section>
{% endblock %}
