{% extends "base.html" %} {% block content %}
<section class="purpose row">
  <div class="col-12 section-title">
    <h2>JP Technology</h2>
    <h3 class="subtitle">Experts that work for you.</h3>
  </div>
  <div class="col-12">
    <p class="text-center">
      Based In Pickerington, Ohio, we offer in-home computer services in Central
      Ohio and the surrounding areas.
    </p>
  </div>
  <div class="col-12">
    <p class="text-center">
      Our expert computer technicians offer a flat rate and free estimates on a
      wide range of computer repair services.
    </p>
  </div>
</section>
<hr />
<section class="services">
  <div class="row no-gutters align-items-start">
    <div class="card bg-dark text-white">
      <img
        class="card-img"
        src="{{url_for('static', filename='img/craiyon_033543_water_fall_leaving_laptop_screen_br_.png')}}"
        alt="Card image"
      />
      <div class="card-img-overlay">
        <h5 class="card-title">Computer Repair</h5>
        <p class="card-text">
          This is a wider card with supporting text below as a natural lead-in
          to additional content. This content is a little bit longer.
        </p>
        <p class="card-text">Last updated 3 mins ago</p>
      </div>
    </div>
    <div class="card bg-dark text-white">
      <img
        class="card-img"
        src="https://picsum.photos/300/300"
        alt="Card image"
      />
      <div class="card-img-overlay">
        <h5 class="card-title">Network Setup</h5>
        <p class="card-text">
          This is a wider card with supporting text below as a natural lead-in
          to additional content. This content is a little bit longer.
        </p>
        <p class="card-text">Last updated 3 mins ago</p>
      </div>
    </div>
  </div>
  <div class="row no-gutters align-items-end">
    <div class="card bg-dark text-white">
      <img
        class="card-img"
        src="https://picsum.photos/300/300"
        alt="Card image"
      />
      <div class="card-img-overlay">
        <h5 class="card-title">Website Making</h5>
        <p class="card-text">
          This is a wider card with supporting text below as a natural lead-in
          to additional content. This content is a little bit longer.
        </p>
        <p class="card-text">Last updated 3 mins ago</p>
      </div>
    </div>
    <div class="card bg-dark text-white">
      <img
        class="card-img"
        src="https://picsum.photos/300/300"
        alt="Card image"
      />
      <div class="card-img-overlay">
        <h5 class="card-title">Backup Solutions</h5>
        <p class="card-text">
          This is a wider card with supporting text below as a natural lead-in
          to additional content. This content is a little bit longer.
        </p>
        <p class="card-text">Last updated 3 mins ago</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
